#geral{
  margin-top: 2%;
}
#form-geral{
  margin-top: 30px; 
}
#logo{
  width: 30%;
}
#lista-nick{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30%;
  padding-right: 30%;
}
#input-nick{
  padding-left: 30%;
  padding-right: 30%;
}
#botao-iniciar-jogo{
  margin-top: 30px;
}
#baralho-jogador{
  width: 10%;
}
#botao-opcao{
  
  margin-left: 10px;
  margin-right: 10px;
}

#jig{
  width: 50px;
  height: 50px;
}
#baralho-comprar{
  
}